
element.style {
    justify-content: flex-start;
}


.container-large {
    min-height: 100vh;
    width: 1188px;
    height: 600px;
    margin-top: 90px;;
    margin-left: 98px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(39, 28, 39);
}

.card-first {
    background-color: #F48C06;
    
    width: 468px;
    height: 160px;
    border: radius 20px;
    margin-top: 90px;
    margin-left: 98px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 100px;
    }

.card-second {
    background-color: #F48C06;
    
    width: 468px;
    height: 160px;
    border: radius 20px;
    margin-top: 90px;
    margin-left: 586px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-basis: 100px;
}

.card-third {
    background-color: #F48C06;
  
    width: 468px;
    height: 98px;
    border: radius 20px;
    margin-top: 270px;
    margin-left: 98px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 100px;
}


.card-fourth {
    background-color: #F48C06;
    
    width: 468px;
    height: 98px;
    border: radius 20px;
    margin-top: 270px;
    margin-left: 586px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 100px;
}

.card-fifth {
    background-color: #F48C06;
    
    width: 468px;
    height: 98px;
    border: radius 20px;
    margin-top: 450px;
    margin-left: 98px;
    display: flex;
    justify-content: flex-end;
    flex-basis: 100px;
}

.card-sixth {
    background-color: #F48C06;
    
    width: 468px;
    height: 98px;
    border: radius 20px;
    margin-top: 450px;
    margin-left: 586px;
    display: flex;
    justify-content: flex-end;
    flex-basis: 100px;
}

.items-first {
    background-color: #9D0208;
    
    width: 45px;
    height: 45px;
    margin-bottom: 10;
    margin-left: 10;
    display: flex;
    justify-content: flex-start;
}

.container-second {
    min-width: 100vh;
    width: 1188px;
    height: 600px;
    margin-top: 90px;;
    margin-left: 98px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f3ef0e;
}



.box-first {
    background-color: #03071E;
    
    width: 273px;
    height: 220px;
    border: radius 20px;
    margin-top: 90px;
    margin-left: 98px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 100px;
    }
.dots-five {
    background-color: #748CAB;
    Font: Roboto;
    width: 273px;
    height: 220px;
    style: normal;
    size: 36px;
    line height: 42,19px;
    position: absolute;
}

.dots-six {
    background-color: #748CAB;
    Font: Roboto;
    width: 273px;
    height: 220px;
    style: normal;
    size: 36px;
    line height; 42,19px;
    position: absolute;
}